.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-image: url('https://www.shareicon.net/data/256x256/2016/06/17/595584_airplane_512x512.png');
  background-position: contain;
  background-size: 100% 100%;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  transform: rotate(120deg)
}
.planeText {
  margin-left: 10px;
  margin-top: 40px;
  transform: rotate(-120deg);
  font-weight: bold;
  font-size: 1.2em
}